<!DOCTYPE html>
<html>
  <head>
    <title>知乎日报api</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>知乎日报api</h1>
    <div>
      <a href="http://zhihudaily.vniux.xyz/stories/latest">http://zhihudaily.vniux.xyz/stories/latest</a><span>获取今日日报</span>
    </div>
    <div>
      <a href="http://zhihudaily.vniux.xyz/news/latest">http://zhihudaily.vniux.xyz/news/latest</a><span>获取今日日报</span>
    </div>
    <div>
      <a href="http://zhihudaily.vniux.xyz/before/20140618">http://zhihudaily.vniux.xyz/before/20140618</a><span>获取某个日期之前的日报</span>
    </div>
    <div>
      <a href="http://zhihudaily.vniux.xyz/news/3977867 ">http://zhihudaily.vniux.xyz/stories/latest</a><span>获取详情</span>
    </div>

    <div>参考<a href="https://gist.github.com/ameizi/f3f320a512030292362d">https://gist.github.com/ameizi/f3f320a512030292362d</a></div>
  </body>
</html>
